*class Notes 
sir said, variable names should be noun

In [1]:
10 % 3

1

In [7]:
name = "mark"
name = name + " sam"     #concatenation
value = 10 
value = value + 10 + value

print(name)
print(value)

mark sam
30

In [12]:
2 % 4 * 3

6

In [14]:
a = 10
b = 2
if a > 0 :
    print("The number was ", a)
    print("Its a positive number") #end of if block
else:
    print("Its a negative number")
print("number is ",b)

The number was  10
Its a positive number
number is  10

In [19]:
donut_condition = "fresh"
donut_price = "low"
if donut_condition == "fresh":
 buy_score = 10
elif donut_price == "low":
 buy_score = 5
else:
 buy_score = 0

print(buy_score)

10

In [24]:
age = 20
res = "US"
(age > 65 or age < 21) and res == "U.K."

True

In [25]:
age == 20

True

In [27]:
last_name = "Potter"

if last_name == "Potter":
 # if interest == "wizardry"
      print("Welcome back to Hogwarts, Harry!")
      

print("new data")

Welcome back to Hogwarts, Harry!

In [14]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
for city in cities:
    print("name of the city: ", city)
    print("city is Baltimore: ", city in ("Baltimore", "Chicago","Denver" ) )
    #print("city is Baltimore: ", city == "Baltimore" or city == "Chicago" or city == "Denver"  )

name of the city:  Atlanta
city is Baltimore:  False
name of the city:  Baltimore
city is Baltimore:  True
name of the city:  Chicago
city is Baltimore:  True
name of the city:  Denver
city is Baltimore:  True
name of the city:  Los Angeles
city is Baltimore:  False
name of the city:  Seattle
city is Baltimore:  False

In [2]:
print("Welcome to " , cities[3])

Welcome to  Denver

In [6]:
cities.append(3.5)
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'New York', 'New York', 3.5]

In [12]:
cities = cities + ["Dubuque", "New Orleans"]
cities.insert(3,"Karachi")
#int(cities)
cities[1]

'Atlanta'

In [15]:
smaller_list_of_cities = cities[2:5]
print(cities)
print(smaller_list_of_cities)

['Karachi', 'Atlanta', 'Baltimore', 'Karachi', 'Karachi', 'Karachi', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'New York', 'New York', 3.5, 'Dubuque', 'New Orleans', 'Dubuque', 'New Orleans', 'Dubuque', 'New Orleans', 'Dubuque', 'New Orleans', 'Dubuque', 'New Orleans']
['Baltimore', 'Karachi', 'Karachi']

In [27]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
#del tasks[1]
#tasks.remove("call Sarah")
print("task", tasks)
tasks.pop(2)
#print("Lastest finished tasks",latest_task_accomplished )
print(tasks)

task ['email Frank', 'call Sarah', 'meet with Zach']
['email Frank', 'call Sarah']

In [29]:
states_in_order_of_founding = ("Delaware","Pennsylvania", "New Jersey", "Georgia")
print(states_in_order_of_founding)
states_in_order_of_founding[1]

('Delaware', 'Pennsylvania', 'New Jersey', 'Georgia')

'Pennsylvania'

In [52]:
subjects = ("English", "Maths", "Physics", 5.6, "Chemistry", "Urdu")
marks = (98,75,70,65,55)

print("Marks of", subjects[0], "is", marks[0])
print("Marks of", subjects[1], "is", marks[1])
print("Marks of", subjects[2], "is", marks[2])
print("Marks of", subjects[3], "is", marks[3])
print("Marks of", subjects[4], "is", marks[4])
print()

total_marks_obtained = marks[0] + marks[1] + marks[2] + marks[3] + marks[4]
print(subjects[3]/3)
print("Total marks obtained: ", total_marks_obtained)

percentage = total_marks_obtained/500*100

if(percentage > 0 and percentage <= 60):
    print("You are failed")
elif(percentage > 60 and percentage <= 85):
    print("Grade B")
elif(percentage > 85 and percentage <= 100):
    print("Grade A")

Marks of English is 98
Marks of Maths is 75
Marks of Physics is 70
Marks of 5.6 is 65
Marks of Chemistry is 55

1.8666666666666665
Total marks obtained:  363
Grade B

In [54]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson","Great Falls", "Honolulu"]
for city in cleanest_cities:
    print('city name', city)

city name Cheyenne
city name Santa Fe
city name Tucson
city name Great Falls
city name Honolulu

In [29]:
#mithai kaa daba, 4 gulab jamun, 4 ras gullay, 4 qalaqan, 4 laddu
father_names = ["Nasir ", "Kamran", "Shaikh", "Qazi"]
children_names = ["Ashar", "Zaraan", "Kashaan", "Sarfaraz"]
full_names = []
index =0
#last  =3
for father_name in father_names:
    for child_name in children_names:
        full_names.append(child_name + " " + father_name )
  
    print("first child name:", full_names[index])
    #print("last child name:", full_names[last])
    print("last child name:", full_names[-1])
    #print(full_names)    
    index += 4
    #last  += 4
#print(full_names)

first child name: Ashar Nasir
last child name: Sarfaraz Nasir
first child name: Ashar Kamran
last child name: Sarfaraz Kamran
first child name: Ashar Shaikh
last child name: Sarfaraz Shaikh
first child name: Ashar Qazi
last child name: Sarfaraz Qazi

In [82]:
monthly_income = int ( input("Enter your monthly income:") )
#monthly_income = int(monthly_income)
print(type(monthly_income), monthly_income)

Enter your monthly income:100000
<class 'int'> 100000

In [84]:
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.lower()
print(city_to_check, city_to_check.upper())

Enter your city: karachi
karachi KARACHI

In [85]:
tup = (1,2,3)

In [86]:
type(tup)

tuple

In [87]:
tup.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [88]:
tup = (1,2,3)
for i in tup:
    print(i)

1
2
3

In [89]:
lst = [1,2,3]

In [90]:
type(lst)

list

In [91]:
tuple(lst)

(1, 2, 3)

In [5]:
states_in_order_of_founding = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")
states_in_order_of_founding[2]
print( type(states_in_order_of_founding) )

<class 'tuple'>

In [35]:
name = "Kamran"
name = input("Enter your name :")
print(name)

Enter your name :Adnan
Adnan

In [36]:
number1 = float(input("Enter first number : "))
number2 = float(input("Enter second number : "))
add1 = number1 + number2
print(add1)

Enter first number : 2.1
Enter second number : 1.3
3.4000000000000004

In [46]:
cleanest_cities = ["Karachi" , "lahore","islamabad"]
for a_clean_city in cleanest_cities:
        print(a_clean_city.upper())
        print(a_clean_city.lower())
        print(a_clean_city.title())
        
        dfdaswfs
        dfdsafsf
        dsafdsaf

KARACHI
karachi
Karachi
LAHORE
lahore
Lahore
ISLAMABAD
islamabad
Islamabad